@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme='abyss'] {
        --color-primary: 255, 39, 46;
    }

    html[data-theme='etherial'] {
        --color-primary: 20, 255, 42;
    }
}

.menuDragSection {
    -webkit-app-region: drag;
}

.rubik-glitch-regular {
    font-family: 'Rubik Glitch', serif;
    font-weight: 400;
    font-style: normal;
}

* {
    @apply appearance-none outline-none;
}
*:focus {
    @apply appearance-none outline-none;
}
