@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme='abyss'] {
        --color-background-light: #1f2862;
        --color-background-base: #03061b;
        --color-background-dark: #00030f;

        --color-primary-light: #19215e;
        --color-primary-base: #0e57c3;
        --color-primary-dark: #080f41;

        --color-text-light: rgb(242, 235, 235);
        --color-text-base: rgb(163, 168, 182);
        --color-text-dark: rgb(120, 123, 134);
    }

    html[data-theme='etherial'] {
        --color-background-base: 20, 255, 42;
    }
}

.menuDragSection {
    -webkit-app-region: drag;
}

.rubik-glitch-regular {
    font-family: 'Rubik Glitch', serif;
    font-weight: 400;
    font-style: normal;
}

* {
    @apply appearance-none outline-none;
}
*:focus {
    @apply appearance-none outline-none;
}
